$primary: rgb(255, 255, 255)
$secondary: rgb(56, 52, 55)

.profile-card
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  border: none
  border-radius: 0px
  background-color: $secondary
  width: 100%
  min-height: 60%
  text-align: left
  padding-top: 10px
  overflow: hidden

.profile-picture
  width: 20%
  background: $primary

.client-details
  background: none
  text-align: left
  font-size: 1.4em

.name-div
  color: $primary
  background: none
  margin-bottom: 5px

.email-div
  color: $primary
  background: none
  margin-bottom: 5px

.custom-container
  width: 100%
  padding: 10px 10px 10px
  background-color: $secondary
