@import "node_modules/bootstrap/scss/bootstrap.scss"

$primary: rgb(255, 255, 255)
$secondary: rgb(56, 52, 55)


.profile-picture
  width: 125px
  height: 125px
  border-radius: 50%
  border: 1px solid #625e61
  background: $primary

.background-picture
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 20%
  max-height: 100%
  outline: none
  box-shadow: none
  background-color: #888287

.name-div
  position: absolute
  display: inline-block
  top: 0
  margin-top: 80px
  margin-left: 10px
  font-size: 1.4em
  color: $secondary
  background: none

.profile-pic-position
  position: absolute
  width: 50%
  margin-left: 5px
  margin-top: 10px
  @media screen and (max-width: 400px)
    margin-top: 25px

.image-container
  color: white
  margin-top: 10px
  overflow: hidden

.profile-pic-button
  width: 125px
  height: 125px
  border-radius: 50%
  background: none
  border: none
  outline: none
  box-shadow: none

.background-pic-button
  border: none
  outline: none
  box-shadow: none
  background: none

.pModal
  position: fixed
  z-index: 1 /* Sit on top */
  left: 0
  top: 0
  width: 100%
  overflow: auto
  height: 100%
  color: white
  background-color: rgb(0,0,0) /* Fallback color */
  background-color: rgba(0,0,0,0.4) /* Black w/ opacity */

.pModal-content
  @extend .container-sm
  background-color: $secondary
  margin: 10% auto /* 15% from the top and centered */
  width: 50% /* Could be more or less, depending on screen size */
  height: 60%
  max-height: 100%
  text-align: center
  float: none
  overflow: auto
  @media screen and (max-width: 500px and 700px)
    width: 70%
    height: 70%

.pModal-profile-picture
  width: 150px
  height: 150px
  border-radius: 50%
  background: $primary
  float: none
  margin-bottom: 10px

.cancel-button
  border-radius: 25px
  background-color: $primary
  outline: none
  border-style: none
  font-size: 0.9em
  box-shadow: none
  color: $secondary
  width: 20%
  padding-top: 5px
  padding-bottom: 5px
  overflow: hidden
  margin-top: 20px
  @media screen and (max-width: 700px)
    width: 50%
  @media screen and (max-width: 500px)
    width: 70%

.cancel-button:hover
  border: 1px solid white
  background-color: $secondary
  color: $primary
  outline: none

.x-icon
  color: red

.x-icon:hover
  outline: none
  border: none
  box-shadow: none

.add-photo-button
  border-radius: 25px
  background-color: $primary
  outline: none
  border-style: none
  font-size: 0.9em
  box-shadow: none
  color: $secondary
  width: 20%
  padding-top: 5px
  padding-bottom: 5px
  margin-top: 25px
  overflow: hidden
  @media screen and (max-width: 700px)
    width: 50%
  @media screen and (max-width: 500px)
    width: 70%

.add-photo-button:hover
  border: 1px solid white
  background-color: $secondary
  color: $primary
  outline: none
