<body>
<div class="pModal" *ngIf="opened">
  <div class="pModal-content">
    <div class="image-container">
      <img class="pModal-profile-picture" src="{{getNewImageData ? getNewImageData : url  }}" alt="profile_picture"/>
      <p *ngIf="fileError" class="errors">
        {{fileError}}
      </p>
      <form method="post" enctype="multipart/form-data">
        <input (change)="onFileChanged($event)"
               style="color: white;"
               type="file"
               id="uploadImage"
               name="image"
               accept="image/png, image/jpeg"
        />
      </form>
      <button class="add-photo-button" type="button"
              (click)="uploadFile()">{{loading ? "Uploading..." : "Upload Photo"}}</button>
      <br/>

      <button class="cancel-button" (click)="open()" type="button">
        Cancel
      </button>
    </div>

  </div>
</div>

<div class="profile-pic-position">
  <button (click)="open()" type="button" class="profile-pic-button">
    <img class="profile-picture" src="{{url}}" alt="profile_picture"/>
  </button>

</div>
<div class="top-container">
  <form >
    <input id="search"
           placeholder="Search people..."
           name="search"
           type="text"
           autofocus
    />
  </form><br/><br/><br/><br/>
  <div class="name-div">
    <p *ngIf="fullName">{{fullName}}</p>
  </div>
</div>

</body>
