@import "node_modules/bootstrap/scss/bootstrap.scss"

$primary: rgb(255, 255, 255)
$secondary: rgb(56, 52, 55)

.dropdown-button
  outline: none
  background: none
  border-style: none

#search
  border: none
  border-radius: 5px
  padding: 7px
  outline: none
  margin-right: 5px

#search-button
  border: 1px solid #888287
  border-radius: 5px
  padding: 7px
  background: #343a40
  color: white

#search-button:hover
  background-color: #888287

#message-output
  display: inline
  width: 100%
  background: $secondary
  color: white
  margin-top: 2px
  text-align: center
  resize: none
  overflow-y: scroll
  overflow-x: hidden
  padding-left: 10px

#profile-picture
  width: 40px
  border-radius: 50%
  background-color: $primary

.active-icon
  color: green

.icon-wrapper i-bs
  position: absolute
  display: flex
  margin-top: 30px
  margin-left: 35px
  background: none
  height: 12px !important
  width: 12px !important

.main-container
  @extend .container-fluid
  width: 100%
  border-top: 1px solid white

.messageInput
  text-align: center
  margin-bottom: 10px

#message
  display: inline-block
  border: 1px solid black
  border-radius: 25px
  margin-top: 10px
  padding-left: 10px
  padding-right: 10px
  resize: none
  outline: none

#message:focus
  outline: none

.send-button
  border: none
  border-radius: 25px
  outline: none
  padding: 2px 10px
  color: $primary
  background: $secondary

.send-button:hover
  opacity: 0.7

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
  transition: background-color 5000s ease-in-out 0s


@media screen and (max-width: 500px)
  .main-container
    width: 100%
