<body>
<div class="navbar navbar-expand-md bg-dark">

  <div ngbDropdown>
    <div class="icon-wrapper">

      <i-bs [ngStyle]="{'color':changeColorOnStatus(isActive)}" class="active-icon" name="circle-fill"></i-bs>
      <button id="dropdownConfig" ngbDropdownToggle type="button" class="dropdown-button dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">

        <img id="profile-picture" src="{{imageUrl}}" alt="profile_picture"/>
      </button>
    </div>

    <div ngbDropdownMenu aria-labelledby="dropdownConfig" class="dropdown-menu">
      <button (click)="getClientToSettings()" class="dropdown-item" type="button">Account Settings</button>
      <button (click)="onActiveStatusChange()" class="dropdown-item" type="button">Change Status
        to {{isActive ? 'inactive' : 'active'}}</button>
      <button (click)="signOut()" class="dropdown-item" type="button">Sign out</button>
    </div>
  </div>
  <div class="navbar-nav ml-lg-2">
    <p style="color: white; border: 1px solid white">Last logon at: {{lastLogOn}}, Active: {{isActive}}</p>
    <p style="margin-left: 5px;color: white; border: 1px solid white">Active:{{lastSeen}}</p>
  </div>
  <form class="navbar-nav ml-auto">
    <input id="search"
           placeholder="Search people..."
           name="search"
           type="text"
           [(ngModel)]="searchedWord"
           autofocus
    />
    <button (click)="getClientByKeyword()" id="search-button" type="submit">Search</button>
    <p *ngIf="foundClients" style="color:white"> Found: {{foundClients}}</p>
  </form>
</div>

<div class="container" style="margin-top: 10px">
  <div class="row">
    <div style="border: 1px solid black" class="col-sm">
      <p style="border: 1px solid black;text-align: center; margin-top: 5px">ACTIVE PEOPLE</p>
      <ul>
        <li *ngFor="let activeClients of activeClientsList" class="img-and-name">
          {{activeClients}}
        </li>
      </ul>
    </div>
    <div style="border: 1px solid black; border-left: 0" class="col-sm">
      <div style="margin-bottom: 10px;">
          <textarea *ngFor="let msg of webSocket.message " id="message-output" readonly>
                  {{msg}}
          </textarea>
      </div>
    </div>
    <div class="w-100"></div>
    <div style="border: 1px solid black; border-top:0; border-right: 0" class="col-sm"></div>
    <div style="border: 1px solid black; border-top:0" class="col-sm">
      <div class="messageInput">
        <form (ngSubmit)="handleSubmit($event)">
          <textarea name="message" (keyup)="onEnterSendMsg($event)" [(ngModel)]="message"
                    placeholder="Type a message..." id="message" type="text"></textarea>
          <button (click)="sendMessage()" type="button" class="send-button">
            SEND
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div class="main-container">-->
<!--  <div class="row">-->
<!--    <div class="friends-col">-->
<!--      <div class="friend-container">-->
<!--        <p style="border: 1px solid white;text-align: center">ACTIVE PEOPLE</p>-->
<!--        <ul>-->
<!--          <li *ngFor="let activeClients of activeClientsList" class="img-and-name">-->
<!--            {{activeClients}}-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->

<!--    <textarea *ngFor="let msg of webSocket.message " id="message-output" readonly>-->
<!--            {{msg}}-->
<!--    </textarea>-->
<!--    <div class="message-input-col">-->
<!--      <div class="messageInput">-->
<!--        <form (ngSubmit)="handleSubmit($event)">-->
<!--          <textarea name="message" (keyup)="onEnterSendMsg($event)" [(ngModel)]="message"-->
<!--                 placeholder="Type a message..." id="message" type="text"></textarea>-->
<!--          <button (click)="sendMessage()" type="submit" class="send-button">-->
<!--            SEND-->
<!--          </button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
</body>
