@import "node_modules/bootstrap/scss/bootstrap.scss"

$primary: rgb(255, 255, 255)
$secondary: rgb(56, 52, 55)

.dropdown-button
  outline: none
  background: none
  border-style: none

#search
  border: none
  border-radius: 5px
  padding: 7px
  outline: none
  margin-right: 5px

#search-button
  border: 1px solid #888287
  border-radius: 5px
  padding: 7px
  background: #343a40
  color: white

#search-button:hover
  background-color: #888287

#message-output
  width: 100%
  min-height: 5em
  border-radius: 0
  background: $secondary
  color: white
  margin-top: 2px
  resize: none
  scroll-behavior: smooth
  padding-left: 10px

#profile-picture
  width: 40px
  border-radius: 50%
  background-color: $primary

.active-icon
  color: green

.icon-wrapper i-bs
  position: absolute
  display: flex
  margin-top: 30px
  margin-left: 35px
  background: none
  height: 12px !important
  width: 12px !important

.main-container
  @extend .container-fluid
  width: 100%
  border-top: 1px solid white

.messageInput
  @extend .col-sm
  border: 1px solid black
  overflow: hidden
  text-align: center
  margin-bottom: 10px

.messageOutput
  @extend .col-sm
  border: 1px solid black
  border-left: 0
  border-bottom: 0

.activePeopleContainer
  @extend .col-sm
  border: 1px solid black
  border-bottom: 0
  background-color: #343a40
  color: white

#activePeopleHeader
  border: 1px solid white
  text-align: center
  margin-top: 5px

#message-input
  width: 50%
  border: 1px solid black
  border-radius: 0
  margin-top: 10px
  padding-left: 10px
  padding-right: 10px
  resize: none
  scroll-behavior: smooth
  outline: none

#message-input:focus
  outline: none

.send-button
  position: absolute
  border: none
  border-radius: 25px
  outline: none
  padding: 5px 20px
  margin-left: 5px
  margin-top: 20px
  color: $primary
  background: $secondary

textarea::-webkit-scrollbar
  width: 10px
  background: #888287

textarea[readonly]
  cursor: default

textarea::-webkit-scrollbar-thumb
  border-radius: 5px
  cursor: default
  border: 1px solid black
  background-color: $primary

.send-button:hover
  opacity: 0.7


#showTime
  width: 100%
  outline: none
  border: none
  box-shadow: none
  background: none

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
  transition: background-color 5000s ease-in-out 0s


@media screen and (max-width: 500px)
  .main-container
    width: 100%
